@model ApodResponse



<h2 style="color:white" >@Model.Title</h2>

<p style="color:white" >@Model.Date</p>




<p style="color:white">@Model.Explanation</p>

<iframe width="560" height="315" src="@Model.Url" frameborder="0" allowfullscreen></iframe> <img src="/images/NasaLogo.png" alt="" />




